@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #efe4d2;
}
a {
  text-decoration: none;
}

nav {
  background: #181d23;
}
.phone_num div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phone_num img {
  width: 15px;
}
.phone_num p {
  font-family: Mulish, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 88px;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_menu p {
  font-family: Muli, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.nav_menu p:hover {
  text-decoration: underline;
}
.nav_menu a img {
  width: 130px;
}

.main_btn {
  background-color: rgb(193, 143, 50);
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 19px 23px 18px;
  color: rgb(255, 255, 255);
  font-family: Muli, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}
.main_btn:hover {
  transition: all 0.4s ease;
  background: #fff;
  color: #000;
}

.nav_logo {
  padding: 0 20px;
}
.breadcumb {
  background: #181d23;
  border-top: 1px solid #ffffff4e;
}
.breadcumb_container {
  width: 100%;
  max-width: 1300px;
  height: 68px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 5px;
}
.breadcumb_container p {
  font-family: Mulish, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: #a0a0a0;
}

.header_carousel {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: 645px !important;
}
.swiper-slide img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.rent_desc {
  padding: 30px 0;
}

.block_title h3 {
  color: #535353;
  font-family: "Marcellus", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.rent_main_descs div svg {
  width: 33px;
  height: 33px;
}
.rent_main_descs {
  display: flex;
  align-items: center;
  gap: 40px;
}
.rent_main_descs div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.rent_main_descs p {
  font-family: "Roboto", Sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #54595f;
}
.rent_main_descs_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rent_cost p {
  color: #333333;
  font-family: "Marcellus", Sans-serif;
  font-size: 23px;
  text-align: right;
  margin-bottom: 30px;
}

.about_desc p {
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Mulish, sans-serif;
}

.mt {
  margin-top: 20px;
}
.about_desc {
  padding-bottom: 20px;
}

.room_layout p,
.main_p {
  font-family: "Marcellus", Sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #54595f;
}
.room_layout {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}
.room_layout div {
  display: flex;
  align-items: center;
  gap: 25px;
}
.room_layout svg {
  width: 100px;
  height: 100px;
}
.features_item img {
  width: 30px;
  height: 30px;
}
.features_list {
  margin: 40px 0 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 825px;
}

.features_item {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 275px;
  margin-bottom: 5px;
}
.features_item p {
  font-family: "Marcellus", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #54595f;
}
.gt2 {
  grid-template-columns: repeat(2, 1fr);
  max-width: 520px;
  margin-bottom: 0;
}
.video_block {
  padding: 60px 0;
  background: #f9f2ec;
}
.video_block iframe {
  width: 100%;
  height: 650px;
}

.location {
  padding: 30px 0;
}
.location iframe {
  width: 100%;
  height: 450px;
}
.location_blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 100px;
  margin: 0 auto;
  width: 90%;
  margin-top: 30px;
}
.location_blocks div {
  width: 100%;
}

.essential_block_wrapper {
  background: #f9f2ec;
  padding: 60px 0;
}

.essential_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}
.essential_card h4 {
  color: #323232;
  font-family: Mulish, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57143em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 15px 0;
  text-align: center;
}

.essential_card p {
  color: #66696c;
  font-family: Mulish, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
}

.essential_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.essential_top .essential_card:first-child {
  padding-left: 0;
}
.essential_top .essential_card:last-child {
  padding-right: 0;
}

.quest_block {
  padding: 60px 0;
}
.quest_block .block_title h3 {
  text-align: center;
  color: #373737;
  font-size: 44px;
  font-weight: 500;
}
.quest_block_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quest_block_content h3 {
  color: #333;
  font-family: Mulish, sans-serif;
  margin-bottom: 27px;

  font-size: 15px;
}
.quest_block_content h2 {
  color: #b87237;
  font-size: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: Roboto;
  margin-bottom: 20px;
}

.quest_block_content h4 {
  color: #686868;
  font-size: 19px;
  text-transform: capitalize;
  font-style: normal;
  font-family: Muli, sans-serif;
  line-height: 1.33333em;
  letter-spacing: 0.05em;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}

.quest_block_content p {
  margin: 25px 0;
  font-family: "Roboto", Sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.quest_block_content h5 {
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400px;
}

.quest_block_wrapper {
  position: relative;
  overflow: hidden;
}
.quest_block_bg {
  position: absolute;
  right: 0;
  top: -280px;
}
.quest_block {
  position: relative;
}
footer {
  background: #2f2f2f;
  padding: 25px 0;
}

.footer_menu h3 {
  color: #ff9900;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: Muli, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57143em;
  letter-spacing: 0.1em;
}

.footer_menu p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.footer_menu {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.footer_logo img {
  width: 130px;
}
.footer_socials img {
  width: 30px;
  height: 30px;
  transition: all 0.4s ease;
}
.footer_socials a:hover img {
  transition: all 0.4s ease;
  transform: scale(1.1);
}
.footer_socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_menu_btm p {
  text-align: center;

  line-height: 180%;
  font-size: 15px;
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}

.footer_menu a p:hover {
  text-decoration: underline;
}

.mob_menu {
  display: none;
}
.mob_menu_wrapper {
  position: fixed;
  width: 90%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #1f232a;
  z-index: 111;
  padding: 20px 40px;
  transform: translateX(100%);
  transition: all 0.4s ease;
}
.visible_mob_menu {
  transform: translateX(0);
  transition: all 0.4s ease;
}
.mob_menu_exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mob_menu_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
}
.mob_menu_list p {
  font-family: Marcellus, serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.55556em;
  letter-spacing: 0.1em;
  color: #ac835d;
  text-transform: uppercase;
}
.main_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.essential_title h2 {
  color: #535353;
  font-family: "Marcellus", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.mob_rent_dec {
  display: none;
  align-items: start;
  margin-top: 20px;
}
.mob_rent_dec h4 {
  color: #333333;
  font-family: "Marcellus", Sans-serif;
  font-size: 17px;
  text-align: left;
  margin-bottom: 30px;
}
.essential_wrapper {
  display: flex;
  align-items: start;
  gap: 100px;
  padding-top: 40px;
}
.essential_card_item img {
  width: 30px;
}
.essential_card_item {
  display: flex;
  align-items: start;
  gap: 10px;
}
.essential_card_item div {
  padding-top: 6px;
}
.essential_card_item p {
  font-size: 15px;
  color: #000000c7;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  line-height: 130%;
}
.essential_card_item {
  margin-bottom: 20px;
}
.essential_card_item h3 {
  font-size: 22px;
  color: #000000c7;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.essential_card_item ul li {
  margin-bottom: 10px;
}
.essential_wrapper_left,
.essential_wrapper_right {
  width: 50%;
}
.essential_wrapper_left .essential_card_item:last-child {
  max-width: 400px;
}
.header_carousel {
  position: relative;
}
.car_arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  z-index: 11;
  padding: 0 150px;
}
.car_arrow {
  position: static !important;
  margin: 0 !important; 
  transition: all 0.4s ease;
  width: auto !important;
  height: auto !important;
}
.car_arrow:hover {
  transition: all 0.4s ease;
transform: scale(1.05);
}

@media only screen and (max-width: 1100px) {
  .mob_menu {
    display: flex;
  }
  .nav_wrapper .nav_menu a {
    display: none;
  }
  .nav_wrapper .nav_menu .nav_logo {
    display: block;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .essential_wrapper {
    flex-direction: column;
    gap: 0px;
  }
  .essential_wrapper_left,
  .essential_wrapper_right {
    width: 100%;
  }
  .rent_main_descs_wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .rent_cost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
  }
  .rent_main_descs {
    width: 100%;
    justify-content: start;
    gap: 15px;
  }
  .rent_main_descs p {
    font-size: 11px;
  }
  .rent_main_descs div {
    gap: 5px;
  }
  .rent_main_descs div svg {
    width: 15px;
    height: 15px;
  }
  .features_list,
  .essential_top {
    display: flex;
    flex-direction: column;
  }
  .essential_top {
    gap: 20px;
    align-items: center;
  }
  .essential_card {
    width: 80%;
  }
  .video_block iframe {
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .car_arrows {

    margin-top: -20px;
  
    padding: 0 20px;
  }
  .car_arrow{
    width: 20px !important;
  }
  .essential_block_wrapper,
  .video_block {
    padding: 30px 0;
  }
  .footer_wrapper .footer_menu:first-child {
    display: none;
  }
  .footer_wrapper .footer_menu {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .mob_rent_dec {
    display: flex;
  }
  .mob_rent_dec p {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .mob_rent_dec .main_btn {
    padding: 10px 20px;
  }
  .block_title h3 {
    font-size: 22px;
  }
  .main_top .rent_cost {
    display: none;
  }
  .rent_main_descs_wrapper .main_btn {
    display: none;
  }
  .breadcumb_container,
  .nav_wrapper {
    padding-left: 26px;
    width: 100%;
    padding-right: 26px;
  }
  .phone_num {
    display: none;
  }
  .nav_wrapper .main_btn {
    display: none;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .room_layout {
    flex-direction: column;
    align-items: start;
  }
  .video_block iframe {
    height: 200px;
  }
  .location iframe {
    height: 300px;
  }
  .location_blocks {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .footer_menu {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}
